.product-detail-section {
    display: flex;
    margin: 10%;
    justify-content: space-around;
}

.product-image {
    height: 400px;
    width: 400px;
    border: 1px solid #000;
}

.product-image img {
    height: 100%;
}

.product-detail {
    width: 50%;
    margin: 10px 70px;
}

.product-name {
    display: inline-block;
    font-weight: normal;
}

.product-availability {
    margin: 10px;
    padding: 5px;
    background-color: #3f51b5;
    color: white;
    border-radius: 30px;
    font-size: small;
}

.product-category {
    margin: 10px 0px;
}

.product-description {
    margin: 10px 0px;
}

.product-price {
    margin: 20px 0px;
    color: red;
    font-size: x-large;
}

.product-quantity {
    width: 30%;
    margin: 40px 0px 10px 0px;
}

.btn-order a{
    margin: 10px 0px;
    padding: 5px;
    text-decoration: none;
}